extends ../../../../templates/master

block content
    h1.title
        span.fa.fa-users
        | &nbsp; Categories
    
    a.button.is-primary.pull-right(href="/admin/categories/new")
        span.fa.fa-plus
        | &nbsp; Add Category
    table.table.is-fullwidth
        thead
            tr
                th ID
                th Category Name
        
        tbody
            each category in categories
                tr
                    td= category.ID
                    td: a(href=`/admin/categories/${category.ID}`)= category.CategoryName
                    td
                        a(href=`/admin/categories/${category.ID}`): span.fa.fa-edit
                        | &nbsp;