extends ../../../templates/master.pug

block content
    - var hasNoAdmin = typeof reqQuery.notAdmin !== 'undefined' ? 'You\'re not authorized to access that page' : ''
    if hasNoAdmin
        section.animated.jackInTheBox
            .hero-body
                .notification.is-danger
                    | #{hasNoAdmin}
    h1.title.animated.infinite.pulse Welcome to Express Forum!
    p Below is the list of the current all Post Categories
    hr
    center
        h3.title Categories
    ul
        each category in categoryForPug
            a(href=`/category/${category.ID}`)
                li= `${category.ID} - ${category.CategoryName}`