extends ../../../../templates/master

block content
    h1.title
        span.fa(class= user ? 'fa-user' : 'fa-user-plus')
        | &nbsp; #{user ? 'Edit': 'Add'} User
    form(method="POST" action=`/admin/users${user ? `/${user.ID}?_method=PUT` : ''}`)
        .field
            .label Username
            .control
                input.input(type="text" name="name" value= user ? user.Username : '')
        .field
            .label Birthday
                if user
                    .subtitle If you're editing your birthday make sure it is in this format (YYYY-MM-DD)
            .control
                input.input(type= user?"text" :"date" name="birthday" value= user ? user.birthday : '')
        .field
            .label E-mail
            .control
                input.input(type="email" name="email" value= user ? user.email : '')
        
        if !user
            .field
                .label Password
                .control
                    input.input(type="password" name="password")
        input.button.is-success(type="submit" value="Submit")